//=========================================================
//  Settings
//---------------------------------------------------------
$root-font-size: 62.5% !default;
$base-font-color: #aaabac !default;
$base-font-size: 1.6rem !default;
$base-background-color: #262728 !default;
$base-font-family: aktiv-grotesk, Helvetica Neue, Arial, sans-serif !default;
$base-line-height: 2rem !default;

//=====================================
//  Grid
//-------------------------------------
$grid-max-width: 96rem !default;
$grid-total-columns: 12 !default;
$grid-gutter-size: 2rem !default;

//=====================================
//  Page
//-------------------------------------

/*
!default: default value
*/
