@use "sass:color";
@import "../../styles/shared";

.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 0;
  background-color: color.adjust(
    $base-background-color,
    $red: 7,
    $green: 7,
    $blue: 7
  );
  box-shadow: 0 -3px 5px 0px rgba(0, 0, 0, 0.08);
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  z-index: 100;
  transform: translateZ(0);
  transition: height 0.3s ease-in-out;

  .player__timeline {
    height: 4px;
  }

  .player__controls {
    min-height: 7rem;
    max-width: $grid-max-width;
    margin: 0 auto;
    fill: $base-font-color;

    @include makeGrid(24, 0.5rem, true);
    grid-template-areas: templateRow(
      (
        1,
        ".",
        1,
        "previous",
        1,
        "play",
        1,
        "next",
        3,
        "timer",
        14,
        "track",
        1,
        "volumeDown",
        1,
        "volumeValue",
        1,
        "volumeUp",
        2,
        "."
      )
    );

    @media (max-width: 830px) {
      // auto row hight!!!! not auto generate row
      grid-template-areas: templateRow(
        (
          1,
          ".",
          1,
          "previous",
          1,
          "play",
          1,
          "next",
          4,
          "timer",
          13,
          "track",
          1,
          "volumeDown",
          1,
          "volumeValue",
          1,
          "volumeUp",
          2,
          "."
        )
      );
      font-size: 2vw;
    }

    @media (max-width: 480px) {
      font-size: 100%;
      max-width: 380px;
      grid-auto-rows: auto;
      // auto row hight!!!! not auto generate row
      @include makeGrid(10, 0.5rem, true);
      grid-template-areas:
        templateRow(
          (
            1,
            ".",
            1,
            "previous",
            1,
            "play",
            1,
            "next",
            4,
            "timer",
            1,
            "volumeDown",
            1,
            "volumeValue",
            1,
            "volumeUp",
            1,
            "."
          )
        )
        templateRow((1, ".", 10, "track", 1, "."));
    }

    justify-items: center;

    .btn--skip-previous {
      grid-area: previous;
    }
    .btn--control {
      grid-area: play;
    }
    .btn--skip-next {
      grid-area: next;
    }
    .player__timer {
      grid-area: timer;
    }
    .player__track {
      justify-self: left;
      @media (max-width: 480px) {
        justify-self: center;
      }

      grid-area: track;
    }
    .btn--volumeDown {
      grid-area: volumeDown;
    }
    .volume {
      text-align: center;
      grid-area: volumeValue;
    }
    .btn--volumeUp {
      grid-area: volumeUp;
    }

    .btn {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.player--open {
  min-height: 7rem;
}
